header {
    background-image: url(assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-size: cover;
}

#stories {
    
    background-blend-mode: multiply;
    background: rgba(140, 79, 42, 0.3);

    background-image: url(assets/IMG_1334_72dpi_RGB_\ 1.png);
    background-size: cover;
}