ul,
h1,
h2 {
    margin: 0;
}

h1 {
    margin-bottom: 40px;
}

/*----------------Header----------------------*/
nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    padding-inline: 32px;
    height: 16px;
}

#mainTitle {
    position: relative;
    right: 165px;
}

header {
    padding-top: 71px;
    padding-bottom: 256px;
}

#projects {
    padding-top: 181px;
}

/*----------------Main----------------------*/

main {
    box-sizing: border-box;
    padding-bottom: 98px;
    padding-left: 97px;
    padding-right: 120px;
    padding-top: 87px;
}

body {
    text-align: center;
}

p {
    box-sizing: border-box;

}

#aboutUs button {
    border: none;
    border-radius: 18px;
}

/*----------------Stories----------------------*/

#stories {
    padding-top: 84px;
    padding-bottom: 90px;
}

#stories button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
}

/*----------------Footer----------------------*/

footer {
    box-sizing: border-box;
    text-align: left;
    padding-top: 21px;
    padding-bottom: 38px;

}

footer p {
    padding-left: 140px;
}