/* -----------------Text Coloring----------------------*/

header li,
header h1 {
    color: #FFFFFF;
}

header h2 {
    color: rgba(255, 255, 255, 0.7);
}

main h1 {
    color: #464547;
}

main h2 {
    color: #666666;
}

main button {
    color: #FFFFFF;
}

#stories h1,
#stories h2 {
    color: #FFFFFF;
}

footer {
    color: #FFFFFF;
}

footer #contactSection {
    color: rgba(255, 255, 255, 0.4);
}

a {
    color: inherit;
}

/* -----------------Section Coloring----------------------*/

main {
    background-color: #EEEEEE;
}

main button {
    background: #55C2D8;
}

footer {
    background: #464547;
}

#stories button {
    color: #FFFFFF;
    background: #39C2D7;
}