@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* &display=swap used so it loads a fallback font if the delay is too much */

nav {
    text-transform: uppercase;
}

h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

h2,
nav,
footer,
p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
}

#aboutUs p {
    line-height: 22px;
}

#aboutUs button {
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

#footer p {
    font-size: 16px;
}

#mainTitle {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
}

#stories button {
    font-size: 55px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}